.vscode/**
.vscode-test/**
june-eslint/**
examples/**
example/**
eslint/**
test/**
src/**
test-fixtures/**
forked-repo/**
.gitignore
.git/**
.nvmrc
eslint.config.mjs
jest.config.js
jsconfig.json
pseudo-code.md
release.config.js
repro_eslint9.mjs
vsc-extension-quickstart.md
scripts/**
.DS_Store
yarn.lock
bun.lock
bun.lockb
.prettierrc
node_modules/**
*.svg
logo.png

# Ignore all dist content by default
dist/**

# Explicitly include the bundles
!dist/extension.js
!dist/extension.js.map
!dist/worker.mjs
